<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c1d54d16-59ff-4afb-ba7f-f131242f9592/resourcegroups/DefaultResourceGroup-CID/providers/Microsoft.Web/sites/lakeshorescrapping</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CID</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lakeshorescrapping.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>566708be-ac9f-4c82-8360-628894073eac</ProjectGuid>
    <PublishUrl>https://lakeshorescrapping.scm.azurewebsites.net/</PublishUrl>
    <UserName>$lakeshorescrapping</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>